<h2 mat-dialog-title> Add new group </h2>
      <mat-dialog-content>
          <form novalidate #groupForm="ngForm" (ngSubmit)="onSubmit(groupForm)">
              <mat-form-field>
                  <input 
                      matInput 
                      placeholder="Group title" 
                      name="name"
                      ngModel
                      #groupName="ngModel"
                      minlength="2"
                      required>
              </mat-form-field>
                <div *ngIf="groupName.errors?.required && groupName.touched" class="error">
                 Group title is required.
               </div>
               <div *ngIf="groupName.errors?.minlength && groupName.touched" class="error">
                Minimum of 2 characters.
               </div>
               <br>
               <mat-form-field>
                  <input 
                      matInput 
                      placeholder="City" 
                      name="city"
                      ngModel
                      #groupCity="ngModel"
                      minlength="2"
                      required>
              </mat-form-field>
                <div *ngIf="groupCity.errors?.required && groupCity.touched" class="error">
                 City is required.
               </div>
               <div *ngIf="groupCity.errors?.minlength && groupCity.touched" class="error">
                Minimum of 2 characters.
               </div>
          </form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="warn"> Cancel </button>
        <button mat-raised-button [mat-dialog-close]="groupForm.value" color="primary"> Add </button>
      </mat-dialog-actions>