@import "./theme.scss";
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Russo+One");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif; 
}
